/*------------logo in Table of Contents----------*/

#TOC::before {
  content: "";
  display: block;
  height: 100px;
  margin: 10px 10px 10px 10px;
  background-image: url("CAMARADESberlinLogo_small.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

/*------------Main----------*/

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/*------------FOOTER----------*/

/* Divider line above footer */
.footer hr{
  width: 100%;
}

.footer {
  font-size: 10px;
  color: #808080;
  text-align: center;
  width: 90%;
  margin: 3rem auto;
  font-weight: 300;
}
